@import 'tailwindcss';

@theme {
  --font-sans: 'Montserrat', sans-serif;
  --font-heading: 'Playfair Display', serif;
}

html,
body {
  @apply w-full h-full p-0 m-0 font-sans leading-[1.4] text-[#333] font-medium;
}

b,
strong {
  @apply font-semibold;
}

button {
  @apply cursor-pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading leading-[1.1];
}

a {
  @apply font-semibold hover:underline focus:underline;
}

/* Spinner */
/* TODO: refactor */
.spinner_V8m1 {
  transform-origin: center;
  animation: spinner_zKoa 2s linear infinite;
}
.spinner_V8m1 circle {
  stroke-linecap: round;
  animation: spinner_YpZS 1.5s ease-in-out infinite;
}

@keyframes spinner_zKoa {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner_YpZS {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}
