name: Development

on:
  push:
    branches:
      - main
      - chore/add-infrastructure

env:
  NODE_VERSION: 20.19.3
  PHASE_TOKEN: ${{ secrets.PHASE_TOKEN }}
  PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}

jobs:
  deploy-infrastructure:
    name: Deploy infrastructure (Development)
    runs-on: ubuntu-latest
    outputs:
      webName: ${{ steps.pulumi.outputs.webName }}
      webUrl: ${{ steps.pulumi.outputs.webUrl }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build secrets package
        run: pnpm build
        working-directory: packages/secrets

      - name: Load .env for deployment
        run: |
          node ../packages/secrets/dist/bin.js inject -i .env.development -o .env
          cat .env >> $GITHUB_ENV
        working-directory: infrastructure

      - name: Pulumi up
        uses: pulumi/actions@v6
        id: pulumi
        with:
          command: up
          stack-name: development
          work-dir: infrastructure
          upsert: true
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          CLOUDFLARE_API_TOKEN: ${{ env.CLOUDFLARE_API_TOKEN }}

  deploy-web:
    name: Deploy web app (Development)
    runs-on: ubuntu-latest
    needs: deploy-infrastructure
    env:
      CLOUDFLARE_ENV: development
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build secrets package
        run: pnpm build
        working-directory: packages/secrets

      - name: Prepare app .env file
        run: cp .env.development .env
        working-directory: apps/web

      - name: Set web name and url
        run: |
          echo "WEB_NAME=${{ needs.deploy-infrastructure.outputs.webName }}"
          echo "WEB_URL=${{ needs.deploy-infrastructure.outputs.webUrl }}"

      - name: Build frontend
        run: node ../../packages/secrets/dist/bin.js run -- pnpm build
        working-directory: apps/web

      - name: Load .env for deployment
        run: |
          node ../packages/secrets/dist/bin.js inject -i .env.development -o .env
          cat .env >> $GITHUB_ENV
        working-directory: infrastructure

      - name: Deploy Worker
        run: npx wrangler deploy --env ${{ env.CLOUDFLARE_ENV }}
        working-directory: apps/web

  # deploy-api:
  #   name: Deploy API app (Development)
  #   runs-on: ubuntu-latest
  #   needs: deploy-infrastructure
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Setup pnpm
  #       uses: pnpm/action-setup@v4

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: ${{ env.NODE_VERSION }}
  #         cache: 'pnpm'

  #     - name: Install dependencies
  #       run: pnpm install --frozen-lockfile

  #     - name: Build secrets package
  #       run: pnpm build
  #       working-directory: packages/secrets

  #     - name: Prepare app .env file
  #       run: cp .env.development .env
  #       working-directory: apps/api

  #     - name: Build backend
  #       run: node ../../packages/secrets/dist/bin.js run -- pnpm build
  #       working-directory: apps/api

  #     - name: Load .env for deployment
  #       run: |
  #         node ../packages/secrets/dist/bin.js inject -i .env.development -o .env
  #         cat .env >> $GITHUB_ENV
  #       working-directory: infrastructure

  #     - name: Deploy to Cloudflare Pages
  #       uses: cloudflare/pages-action@v1
  #       with:
  #         apiToken: ${{ env.CLOUDFLARE_API_TOKEN }}
  #         accountId: ${{ env.CLOUDFLARE_ACCOUNT_ID }}
  #         projectName: boilerplate-api-development
  #         directory: apps/api
  #         gitHubToken: ${{ secrets.GH_TOKEN }}
